USE [master]
GO
/****** Object:  Database [MyProject]    Script Date: 6/29/2022 9:34:03 PM ******/
CREATE DATABASE [MyProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyProject]
GO
/****** Object:  Table [dbo].[Account_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_HE153704_SE1606](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[isAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coach_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach_HE153704_SE1606](
	[coachId] [int] IDENTITY(1,1) NOT NULL,
	[coachName] [nvarchar](255) NULL,
	[img] [nvarchar](max) NULL,
	[nationalityId] [int] NULL,
	[roleId] [int] NULL,
	[shortDescription] [text] NULL,
	[coachInfor] [text] NULL,
	[detail] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[coachId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachRole_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachRole_HE153704_SE1606](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite_HE153704_SE1606](
	[userId] [int] NOT NULL,
	[newsId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationality_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationality_HE153704_SE1606](
	[nationalityId] [int] IDENTITY(1,1) NOT NULL,
	[nationalityName] [nvarchar](255) NULL,
	[img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[nationalityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_HE153704_SE1606](
	[newsId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[img] [nvarchar](max) NULL,
	[datePublished] [date] NULL,
	[shortDescription] [text] NULL,
	[content] [text] NULL,
	[detail] [text] NULL,
	[typeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[newsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player_HE153704_SE1606](
	[playerId] [int] IDENTITY(1,1) NOT NULL,
	[playerName] [nvarchar](255) NULL,
	[img] [nvarchar](max) NULL,
	[dob] [date] NULL,
	[birthPlace] [nvarchar](255) NULL,
	[nationalityId] [int] NULL,
	[height] [float] NULL,
	[weight] [float] NULL,
	[roleId] [int] NULL,
	[imgBackground] [nvarchar](max) NULL,
	[number] [int] NULL,
	[shortDescription] [text] NULL,
	[playerInfor] [text] NULL,
	[detail] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[playerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerRole_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerRole_HE153704_SE1606](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeNews_HE153704_SE1606]    Script Date: 6/29/2022 9:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeNews_HE153704_SE1606](
	[typeId] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_HE153704_SE1606] ON 

INSERT [dbo].[Account_HE153704_SE1606] ([userId], [userName], [email], [password], [isAdmin]) VALUES (1, N'Admin', N'nguyentiendatntd102@gmail.com', N'123456', 1)
INSERT [dbo].[Account_HE153704_SE1606] ([userId], [userName], [email], [password], [isAdmin]) VALUES (2, N'DatPro', N'nguyendat091011@gmail.com', N'123', 1)
INSERT [dbo].[Account_HE153704_SE1606] ([userId], [userName], [email], [password], [isAdmin]) VALUES (3, N'kevin', N'davidandthiago43dat@gmail.com', N'123456', 0)
SET IDENTITY_INSERT [dbo].[Account_HE153704_SE1606] OFF
GO
SET IDENTITY_INSERT [dbo].[Coach_HE153704_SE1606] ON 

SET IDENTITY_INSERT [dbo].[Coach_HE153704_SE1606] OFF
GO
SET IDENTITY_INSERT [dbo].[CoachRole_HE153704_SE1606] ON 

INSERT [dbo].[CoachRole_HE153704_SE1606] ([roleId], [roleName]) VALUES (1, N'Head Coach')
INSERT [dbo].[CoachRole_HE153704_SE1606] ([roleId], [roleName]) VALUES (2, N'First-Team Coach')
INSERT [dbo].[CoachRole_HE153704_SE1606] ([roleId], [roleName]) VALUES (3, N'Assistant Coach')
SET IDENTITY_INSERT [dbo].[CoachRole_HE153704_SE1606] OFF
GO
INSERT [dbo].[Favorite_HE153704_SE1606] ([userId], [newsId]) VALUES (2, 3)
INSERT [dbo].[Favorite_HE153704_SE1606] ([userId], [newsId]) VALUES (3, 5)
INSERT [dbo].[Favorite_HE153704_SE1606] ([userId], [newsId]) VALUES (3, 8)
GO
SET IDENTITY_INSERT [dbo].[Nationality_HE153704_SE1606] ON 

INSERT [dbo].[Nationality_HE153704_SE1606] ([nationalityId], [nationalityName], [img]) VALUES (1, N'Argentina', N'https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg')
INSERT [dbo].[Nationality_HE153704_SE1606] ([nationalityId], [nationalityName], [img]) VALUES (2, N'Belgium', N'https://upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Belgium.svg')
INSERT [dbo].[Nationality_HE153704_SE1606] ([nationalityId], [nationalityName], [img]) VALUES (3, N'Brazil', N'https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png')
SET IDENTITY_INSERT [dbo].[Nationality_HE153704_SE1606] OFF
GO
SET IDENTITY_INSERT [dbo].[News_HE153704_SE1606] ON 

SET IDENTITY_INSERT [dbo].[News_HE153704_SE1606] OFF
GO
SET IDENTITY_INSERT [dbo].[Player_HE153704_SE1606] ON 

SET IDENTITY_INSERT [dbo].[Player_HE153704_SE1606] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayerRole_HE153704_SE1606] ON 

INSERT [dbo].[PlayerRole_HE153704_SE1606] ([roleId], [roleName]) VALUES (1, N'Goalkeeper')
INSERT [dbo].[PlayerRole_HE153704_SE1606] ([roleId], [roleName]) VALUES (2, N'Defender')
INSERT [dbo].[PlayerRole_HE153704_SE1606] ([roleId], [roleName]) VALUES (3, N'Midfielder')
SET IDENTITY_INSERT [dbo].[PlayerRole_HE153704_SE1606] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeNews_HE153704_SE1606] ON 

INSERT [dbo].[TypeNews_HE153704_SE1606] ([typeId], [typeName]) VALUES (1, N'Pre-Match Report')
INSERT [dbo].[TypeNews_HE153704_SE1606] ([typeId], [typeName]) VALUES (2, N'Post-Match Report')
INSERT [dbo].[TypeNews_HE153704_SE1606] ([typeId], [typeName]) VALUES (3, N'Press Conference')
SET IDENTITY_INSERT [dbo].[TypeNews_HE153704_SE1606] OFF
GO
ALTER TABLE [dbo].[Coach_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_Coach_HE153704_SE1606_CoachRole_HE153704_SE1606] FOREIGN KEY([roleId])
REFERENCES [dbo].[CoachRole_HE153704_SE1606] ([roleId])
GO
ALTER TABLE [dbo].[Coach_HE153704_SE1606] CHECK CONSTRAINT [FK_Coach_HE153704_SE1606_CoachRole_HE153704_SE1606]
GO
ALTER TABLE [dbo].[Coach_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_Coach_HE153704_SE1606_Nationality_HE153704_SE1606] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[Nationality_HE153704_SE1606] ([nationalityId])
GO
ALTER TABLE [dbo].[Coach_HE153704_SE1606] CHECK CONSTRAINT [FK_Coach_HE153704_SE1606_Nationality_HE153704_SE1606]
GO
ALTER TABLE [dbo].[Favorite_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_HE153704_SE1606_Account_HE153704_SE1606] FOREIGN KEY([userId])
REFERENCES [dbo].[Account_HE153704_SE1606] ([userId])
GO
ALTER TABLE [dbo].[Favorite_HE153704_SE1606] CHECK CONSTRAINT [FK_Favorite_HE153704_SE1606_Account_HE153704_SE1606]
GO
ALTER TABLE [dbo].[Favorite_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_HE153704_SE1606_News_HE153704_SE1606] FOREIGN KEY([newsId])
REFERENCES [dbo].[News_HE153704_SE1606] ([newsId])
GO
ALTER TABLE [dbo].[Favorite_HE153704_SE1606] CHECK CONSTRAINT [FK_Favorite_HE153704_SE1606_News_HE153704_SE1606]
GO
ALTER TABLE [dbo].[News_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_News_HE153704_SE1606_TypeNews_HE153704_SE1606] FOREIGN KEY([typeId])
REFERENCES [dbo].[TypeNews_HE153704_SE1606] ([typeId])
GO
ALTER TABLE [dbo].[News_HE153704_SE1606] CHECK CONSTRAINT [FK_News_HE153704_SE1606_TypeNews_HE153704_SE1606]
GO
ALTER TABLE [dbo].[Player_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_Player_HE153704_SE1606_Nationality_HE153704_SE1606] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[Nationality_HE153704_SE1606] ([nationalityId])
GO
ALTER TABLE [dbo].[Player_HE153704_SE1606] CHECK CONSTRAINT [FK_Player_HE153704_SE1606_Nationality_HE153704_SE1606]
GO
ALTER TABLE [dbo].[Player_HE153704_SE1606]  WITH CHECK ADD  CONSTRAINT [FK_Player_HE153704_SE1606_PlayerRole_HE153704_SE1606] FOREIGN KEY([roleId])
REFERENCES [dbo].[PlayerRole_HE153704_SE1606] ([roleId])
GO
ALTER TABLE [dbo].[Player_HE153704_SE1606] CHECK CONSTRAINT [FK_Player_HE153704_SE1606_PlayerRole_HE153704_SE1606]
GO
USE [master]
GO
